* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Hind, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #777;
  background: #f7f7f7;
  margin: 0;
  overflow-x: hidden;
}

.center-content {
  background-color: #ffba6a;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  margin: auto;
  width: 100%;
  
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
    display: flex;
  flex-wrap: wrap;

}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.342);
  width: 100%;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.imggame {
  width: 100%;
}



.navbar li a:hover {
  background-color: #111;
}

.card-images {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.image-box {
  background-color: #ffba6a;
  border-radius: 5px;
  width: 450px;
  text-align: center;
}

.h2-subtitle {
  font-size: 24px;
  text-align: center;
  margin: 15px;
}

.trend-img {
  width: 80%;
  border-radius: 5px 5px 0 0;
  transition: 1s;
}

.trend-img:hover {
  transform: scale(1.1);
}

.products-img {
  width: 300px;
  height: 300px;
  margin: 5px;
}

.productos{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.productos-title {
  align-items: center;
}
.card-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #333;
  color: #f7f7f7;
  margin-top: 20px;
}

.footer p {
  padding: 20px;
}

.footer h3 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;
}

a.nombre:hover {
  color:white;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.content h3 {
  margin: 2rem;
}


input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type="submit"] {
  background-color: #e08976;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #ffba6a;
}



.categorias ul {
  list-style-type: none;
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-bottom: 40px;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
  }
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;

}

.card{
margin-left: 10px;
margin-right: 10px;
}

@media screen and (max-width: 1023px){

  .card-images {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 764px) {
 .card-images {
  grid-template-columns:  1fr;
}
}